.party{
    position: relative;
    padding: calc(var(--section-padding-top) * 2) 0;
    color: white;
}
.party h2{
    text-align: center;
    font-size: 4rem;
    font-family: var(--secondary-font);
}

.party p{
    padding: 2vw 30%;
    text-align: center;
}

.img{
    width: 15%;
    aspect-ratio: 1/1;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .party h2{
        font-size: 4.5rem;
    }
    
    .party p{
        padding: 4vw 30%;
        text-align: center;
        line-height: 150%;
        font-size: 1.2rem;
    }
    .img{
        width: 25%;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .party h2{
        font-size: 4.5rem;
        padding: 0 20%;
    }
    
    .party p{
        padding: 8vw 15%;
        text-align: center;
        line-height: 150%;
        font-size: 1.4rem;
    }
    .img{
        width: 35%;
    }
}