.ensure{
    position: relative;
    padding: var(--section-padding-top) 5%;
    color: white;
}

.ensure h2{
    font-size: 4rem;
    font-family: var(--secondary-font);
    text-align: center;
}

.ensure .p{
    margin: 1vw 35%;
    text-align: center;
    
}

.itemWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin: 6vw 0;
}

.item{
    text-decoration: none;
    color: white;
    width: 20vw;
}

.item img{
    width: 16vw;
    aspect-ratio: 1/1.2;
    object-fit: cover;
    color: var(--primary-color);
}

.item h3{
    padding: 2vw 0;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.7rem;
}

.item p{
    line-height: 150%;
    padding-right: 10%;
    color: #ccc;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){

}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){

}