.galleryContent{
    position: relative;
    padding: var(--section-padding-top) 10%;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:5vw 10%;
}

.item{
    display: inline-block;
    width: 35%;
    position: relative;
    text-decoration: none;
}

.item h3{
    margin: 0.5vw 0;
    text-align: center;
    color: white;
    font-family: var(--secondary-font);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    
}

.item img{
    width: 100%;
    aspect-ratio: 1/0.7;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin: 1vw 0;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .galleryContent{
        padding: var(--section-padding-top) 5%;
    }
        .img{
            margin: 3.5vw 5%;
        }

}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .galleryContent{
        padding: var(--section-padding-top) 10%;
        gap:15vw
    }

    .item{
        width: 100%;
    }
    
    .img{
        width: 100%;
        margin: 6vw 0;
    }
}